@media screen and (min-width: 768px) {
    .btn-item {
        min-height: 63rem;
        &:before {
            content: "";
            position: absolute;
            min-height: 63rem;
            min-width: 81rem;
            background-repeat: no-repeat;
            background-image: url("../../assets/images/walkincrypto-intro.svg");
            transition: 0.25s;
            //   display: flex;
        }
    }
}
