@media screen and (min-width: 240px) {
}

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .item-img {
        &:before {
            content: "";
            position: absolute;
            min-height: 100%;
            min-width: 100%;
            background-repeat: no-repeat;
            background-image: url("../../assets/images/walkincrypto-intro.svg");
            transition: 0.25s;
            //   display: flex;
        }
    }
}
