.logo {
  position: relative;
  width: 228px;
  height: 42px;
}

ul li {
  font-family: "Poppins";
  a {
    font-size: 24px;
  }
  .btn-violet {
    font-family: "Poppins";
    width: 154px;
    height: 53px;
    background: #8738eb;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
