ul {
    justify-content: left;
	&.social-network {
		list-style: none;
		display: inline;
		margin-left: 0 !important;
		padding: 0;
		li {
			display: inline;
			margin: 0 5px;
		}
	}
}
.social-network {
	a {
		background-color: #F9F9F9;
		&.icoFacebook {
			&:hover {
				background-color: #3B5998;
			}
		}
		&.icoLinkedin {
			&:hover {
				background-color: #007bb7;
			}
		}
	}
}
.social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
	color: #fff;
}
.social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
}
.social-circle {
	li {
		a {
			display: inline-block;
			position: relative;
			margin: 0 auto 0 auto;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			font-size: 15px;
		}
		i {
			margin: 0;
			line-height: 30px;
			text-align: center;
		}
	}
	i {
		color: #595959;
		-webkit-transition: all 0.8s;
		-moz-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		transition: all 0.8s;
	}
}

